<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>DatePicker</name>
    <guid>b6c04b51-32c5-4591-ba77-a500d686e5e3</guid>
    <version>2.0.1</version>
    <date>2016-10-28</date>
    <description><![CDATA[V2.0.0 : English only version of the datepicker
		v2.0.2 - Add labels for input text
			   - Add showDatePickerText in Date options category]]></description>
    <company>Askia</company>
    <author><![CDATA[Jatin Bhatt]]></author>
    <site>www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="false" multiple="false" numeric="false" date="true" open="false" chapter="false" requireParentLoop="false" />
      <constraint on="controls" responseblock="false" checkbox="false" label="false" listbox="false" radiobutton="false" textbox="true" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <content fileName="moment.min.js" type="javascript" mode="static" position="head" />
      <content fileName="pikaday.js" type="javascript" mode="static" position="head" />
      <content fileName="pikaday.css" type="css" mode="static" position="head" />
      <content fileName="theme.css" type="css" mode="static" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="default.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="placeholder" name="Placeholder" type="string" mode="dynamic" require="false" visible="false">
        <description><![CDATA[Using HTML 5, in modern browser.
          Helper text shows in the input when it's empty.]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="theme" name="Theme" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Select the theme of the calendar]]></description>
        <value><![CDATA[light-theme]]></value>
        <options>
          <option value="light-theme" text="Light theme" />
          <option value="dark-theme" text="Dark theme" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="selectColor" name="Selected Colour" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgba">
        <description><![CDATA[Background colour of selected date]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="hoverColor" name="Hover Colour" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgba">
        <description><![CDATA[Background color when date hovered on]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
    </category>
    <category id="Date" name="Date options">
      <property xsi:type="standardProperty" id="defaultDate" name="Default date" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The initial date to view when first opened
Format: MM/DD/YYYY]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="bound" name="Show datepicker" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Hide datepicker by default. Hide datepicker until it is in focus.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Hide" />
          <option value="0" text="Show" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="position" name="Position" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[preferred position of the datepicker relative to the form field, e.g.: top right, bottom right Note: automatic adjustment may occur to avoid datepicker from being displayed outside the viewport.]]></description>
        <value><![CDATA[bottom left]]></value>
        <options>
          <option value="bottom left" text="bottom left" />
          <option value="top left" text="top left" />
          <option value="top right" text="top right" />
          <option value="bottom right" text="bottom right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="setDefaultDate" name="Set default date" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Make the "Default Date" the initial selected value]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstDay" name="First Day of the month" type="number" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Select the first day of the month:
0 = Sunday, 1 = Monday etc.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="0" text="Sunday" />
          <option value="1" text="Monday" />
          <option value="2" text="Tuesday" />
          <option value="3" text="Wednesday" />
          <option value="4" text="Thursday" />
          <option value="5" text="Friday" />
          <option value="6" text="Saturday" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="disableWeekends" name="Disable Weekends" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to disable the selection of weekends]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Disallow Weekends" />
          <option value="0" text="Allow Weekends" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showWeekNumber" name="Show Week Number" type="string" require="false" visible="true">
        <description><![CDATA[Show the ISO week number at the head of the row (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Show" />
          <option value="0" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showMonthAfterYear" name="Month After Year" type="string" require="false" visible="true">
        <description><![CDATA[Render the month after year in the title (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Month last (yyyy mm)" />
          <option value="0" text="Month first (mm yyyy)" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="numberOfMonths" name="Number of Months" type="number" mode="dynamic" require="false" visible="true" min="1" max="3">
        <description><![CDATA[Number of months visible at a time]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="mainCalendar" name="Main Calendar" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[When "Number of Months" is used, this will help you to choose where the main calendar will be (default left, can be set to right). Only used for the first display or when a selected date is not already visible]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="datePickerLabelText" name="Date picker text" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[Choose a date]]></value>
      </property>
      <property xsi:type="standardProperty" id="showDatePickerText" name="Show date picker text" type="boolean" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[false]]></value>
      </property>
    </category>
  </properties>
</control>